.App {
  text-align: center;
}

.header {
background-color: lightblue;
}

.body {
background-color: lightcoral;
}

.footer {
background-color: lightgreen;
}

.icon {
  width: 300px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
